img {
    max-width: 100%;
}

.page-header{
   margin: 0;
   padding: 0;   
}

.page-header h1{
   text-align: center; 
}

.blockSearch{
    position: absolute;
    top: 5%;
    right: 0;
    width: 30%;
}

.rowSearch{
    width: 100%;
    padding-left: 20px;
    padding-bottom: 20px;
}

.thumbnail .caption{
    font-family: "Georgia";
    font-weight: bold;
    text-align: center;
}

.thumbnail .caption .title{
    color: black;
}

.thumbnail .caption .subtitle{
    color: darkblue;
}

.thumbnail img{
   max-height: 200px;
   max-width: 500px;
}

.img-float-left {
    float: left;
    padding: 5px;
}

.img-banner {
    padding-bottom: 10px;
}

.media{
    font-family: "Georgia";
    font-weight: bold;
    padding-left: 20px;
}

.media .media-heading{
    color: black;
}

.media .media-body{
    color: darkblue;
}

.media img{
   max-height: 50px;
   max-width: 100px;
}